In [2]:
#encoding categorical data
#data can be 
#1. Numerical 
#2. Categorical--> under categorical data can be 
#   nominal--> categories that doesn't have any relation or any order ex(engg branches)
#   ordinal--> there is something relation between the categories (giving reviews like excellent, good ..) basically the ordering of data
# there are many encoding techniques but we will learn 2 
#1 ordinal encoding--> if you have any data you will be having input column(x) and output column(y). 
# if you have any data in x and which is categorical data you will be applying ordinal encoding there .but if y data is categorical then u cannot use ordinal encoding but u use label encoder (which is specially desing for output encoding)
#2. one hot encoding#

#label encoding --> similar to ordinal encoding but we apply it only if the output data is

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("customer.csv")

In [3]:
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [4]:
#since here the data are in some order like Average has high order then good , 
#good has high order then poor and poor has the lowest order
#so in such cases we apply ordinal encoding on the categorical data

In [5]:
df=df.iloc[:,2:]

In [6]:
df.head(5)

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [9]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2,random_state=2)

In [13]:
x_train

     review education
24  Average        PG
48     Good        UG
17     Poor        UG
12     Poor    School
27     Poor        PG
33     Good        PG
16     Poor        UG
2      Good        PG
25     Good    School
14     Poor        PG
30  Average        UG
5   Average    School
32  Average        UG
1      Poor        UG
29  Average        UG
35     Poor    School
41     Good        PG
19     Poor        PG
37  Average        PG
10     Good        UG
4   Average        UG
6      Good    School
3      Good        PG
20  Average    School
26     Poor        PG
38     Good    School
21  Average        PG
42     Good        PG
31     Poor    School
34  Average    School
7      Poor    School
49     Good        UG
11     Good        UG
18     Good    School
43     Poor        PG
22     Poor        PG
8   Average        UG
45     Poor        PG
15     Poor        UG
40     Good    School

In [14]:
x_test()

NameError: name 'x_test' is not defined